<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 
        Shim manifest to satisfy Flutter embedding v2 detection.
        The actual manifest is at android/app/src/main/AndroidManifest.xml
    -->
    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
